.App {
  text-align: center;
  background-color: #88ccff;
  font-family: 'Merienda One', cursive;
}

.smurfcards{
  display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
}

.smurfcard{
  width: 250px;
  margin: 10px;
}

.title{
  color: white;
}
